on:
  push:
    tags:
      - "a_*"
name: Release
env:
  DEPOT_TOOLS_WIN_TOOLCHAIN: 0
  WINDOWSSDKDIR: 'C:/Program Files (x86)/Windows Kits/10/'
  UPLOAD_DIR: ${{ github.workspace }}/assets
  WINDOWS_SDK_VERSION: '10.0.26100.0' # for build_impeller.sh's gn invocation
jobs:
  build:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [ubuntu, windows]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Free Space on Ubuntu
        shell: bash
        if: matrix.os == 'ubuntu'
        run: |
          # we can run out of space on github CI because flutters downloads so much stuff with gclient
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Install Windows SDK on Windows
        if: matrix.os == 'windows'
        uses: GuillaumeFalourd/setup-windows10-sdk-action@v2.4
        with:
          sdk-version: 22621

      - name: Ensure ENGINE_SHA is up to date.
        shell: bash
        run: |
          # Check to ensure that we are using the correct submodule and haven't made any accidental changes.
          git submodule status
          [ "$(cat ENGINE_SHA)" = "$(git submodule status | cut -d ' ' -f2)" ]
          echo "ENGINE_SHA matches submodule commit"
          

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Install 7Zip and LLVM on Ubuntu
        if: matrix.os == 'ubuntu'
        run: sudo apt install -y 7zip llvm

      - name: Add Depot Tools to path
        shell: bash
        run: |
          git clone --depth=1 https://chromium.googlesource.com/chromium/tools/depot_tools.git
          echo "$GITHUB_WORKSPACE/depot_tools" >> $GITHUB_PATH

      - name: Build Impeller
        shell: bash
        run: |
          mkdir $UPLOAD_DIR
          cd flutter
          echo "$PATH"
          # custom gclient file to skip irrelevant deps
          cp ../github_ci.gclient .gclient
          gclient sync --delete_unversioned_trees --no-history --shallow
          # add the library_static target to BUILD.gn
          cat ../BUILD.gn.patch >> ./engine/src/flutter/impeller/toolkit/interop/BUILD.gn
          ../build_impeller.sh release $UPLOAD_DIR
          ../build_impeller.sh debug $UPLOAD_DIR

      - name: Download Flutter's artefacts
        shell: bash
        if: matrix.os == 'ubuntu'
        run: ./download_flutter_artefacts.sh "$UPLOAD_DIR"
          
      - name: Upload Assets
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tags: true
          draft: true
          file: "${{ env.UPLOAD_DIR }}/*"
